.App {
    color: white;
    font-family: monospace;
    padding-left: 20px;
}

.Button {
    color: white;
    background-color: #2fb49a;
    padding: 1px 20px;
    border-radius: 8px;
    font-family: monospace;
}

.Line {
    padding-left: 0px;
}